@model StoreApp.Models.Item
@{
    ViewBag.Title = $"Відредагувати товар ID:{Model.Id}";
}

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-3">@ViewData["Title"]</h2>
                        <form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
                            <div class="form-outline mb-2">
                                <input type="text" asp-for="Title" class="form-control form-control-lg" placeholder="Назва" />
                            </div>

                            <div class="form-outline mb-2">
                                <input type="text" asp-for="Description" class="form-control form-control-lg" placeholder="Опис" />
                            </div>

                            <div class="form-outline mb-2">
                                <input type="number" asp-for="Price" class="form-control form-control-lg" placeholder="Ціна" />
                            </div>

                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn btn-success btn-block btn-lg text-body" value="Редагувати" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

