@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome in @ViewBag.AppName</h1>
    <a class = "btn btn-primary" asp-controller="Home" asp-action="Goods">Go To Goods</a>
</div>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}