@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome in @ViewBag.AppName</h1>
    <a class="btn btn-primary" href="~/Home/Goods" role="button">Go To Goods</a>
</div>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}