@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <article-header>Welcome in @ViewBag.AppName</article-header>
    <start-button condition="true"></start-button>
</div>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}